

body {
  padding: 0;
  margin: 0;
  font-family: 'Yrsa', serif;
	
}
h1 {
	text-align: center;
	font-size: 60px;
	
	color: rgb(50,20,20);
	border-bottom: 5px solid rgb(50,20,20);
	width: 50%;
	padding: 1% 0%;
	margin: auto;
}
.question {
  width: 65%;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0px 40px;
	
}
.questionNum {
  padding: 5px 10px;
  
  border-radius: 10px;
}
input {
	outline: none;
}
input[type="radio"] {
  margin: 10px 5px;
  list-style-type: none; 
}
input[id="submit"] {
	float: left;
	margin-left: -2.55em;
	margin-bottom: 2em;
  border: 3px solid #666;
	border-radius: 10px;
  outline: none;
  padding: 15px 25px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: orange;
  cursor: pointer;
	transition: all 1000ms ease;
}
input[id="type"] {
	padding: 5px 10px;
	border-color: black;
	border-radius: 3px;

}
#btn {
	width: 65%;
	padding: 0px 40px;
	margin: auto;
}

input[id="start"] {
	text-align: center;
	margin-left: 42%;
  border: 3px solid #666;
	border-radius: 10px;
  outline: none;
  padding: 15px 25px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: orange;
  cursor: pointer;
    transition: all 1000ms ease;
}